@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*
 * Global style overrides
 */

.reveal .slides section {
	font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
}

.reveal .slides section blockquote p {
	display: block;
	margin: 40px;
}

.reveal .slides section button {
	background-color: #42affa;
	border-radius: 0;
	color: white;
	font-family: inherit;
	font-size: x-large;
	padding: 10px 20px;
}

.reveal .slides section cite {
	font-style: italic;
}

.reveal .slides section code {
	color: orange;
}

.reveal .slides section pre > code {
	color: unset;
	padding: 10px;
	max-height: none;
}

.reveal .slides section h1,
.reveal .slides section h2,
.reveal .slides section h3,
.reveal .slides section h4,
.reveal .slides section h5,
.reveal .slides section h6 {
	font-family: inherit;
	font-weight: 300;
	margin-bottom: 40px;
}

.reveal .slides iframe {
	background: white;
}

.reveal .slides section img {
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
}

.reveal .slides section input {
	font-family: inherit;
	font-size: x-large;
	padding: 10px;
}

.reveal .slides section ul ul {
	margin-left: 1em;
	margin-top: 0.5em;
}
.reveal .slides section li {
	margin-bottom: 0.5em;
}

.reveal .slides section .todo {
	background-color: lightpink;
	color: red;
}

/*
 * Multi-Column slide layout
 */

/* Treat the root `ul` element much like a Bootstrap ".row". */
.reveal .slides section .layout.columns > ul {
	/* border: solid 1px green; */
	align-items: stretch;
	display: flex;
	flex-flow: row nowrap;
	list-style-type: none;
	margin: 0 -20px;
}

/* The `auto-width` mod prevents the root `ul` from stretching its width to fill its parent. */
.reveal .slides section .layout.columns.auto-width > ul {
	margin: 0 auto;
	width: fit-content;
}

/* Treat each top-level `li` element much like a Bootstrap ".column". */
.reveal .slides section .layout.columns > ul > li {
	/* border: solid 1px red; */
	display: block;
	flex: 1 0 0;
	margin: 0;
	padding: 0 20px;
	text-align: center;
	width: 100%;
}

/* Hide the column "headers". */
.reveal .slides section .layout.columns > ul > li > p:first-of-type {
	display: none;
}

/* Remove the top and bottom margins on the first and last visible elements in each column. */
.reveal .slides section .layout.columns > ul > li > :nth-child(2) {
	margin-top: 0;
}
.reveal .slides section .layout.columns > ul > li > :last-child {
	margin-bottom: 0;
}

/* Reestablish the display of top-level (relative to each column) <ul>s. */
.reveal .slides section .layout.columns > ul > li > ul {
	display: inline-block;
}

/* Reestablish the list style hierarchy. */
.reveal .slides section .layout.columns > ul > li > ul {
	list-style-type: disc;
}
.reveal .slides section .layout.columns > ul > li > ul ul {
	list-style-type: square;
}
.reveal .slides section .layout.columns > ul > li > ul ul ul {
	list-style-type: circle;
}

/* Position images within their columns. */
.reveal .slides section .layout.columns > ul > li img {
	margin: 0 auto;
	width: 80%;
}

/*
 * Figures slide layout
 */

.reveal .slides section .figures {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.reveal .slides section .figures > figure {
	background-color: rgba(255, 255, 255, 0.05);
	margin: 1rem;
}

.reveal .slides section .figures.equisized > figure {
	flex: 1 0 0;
	width: 100%;
}

.reveal .slides section .figures > figure > * {
	font-size: inherit;
	margin: 1rem 2rem;
}
