/* The base DAKboard styles specify pixels for the majority of their content. Originally, this
   design built upon the DAKboard styles while optimizing for a 1080×1920 display, and therefore
   also specified pixels as the primary unit. Later, it was desirable to render this design at both
   1080x1920 and 1440×2560 with no distinguishable difference. So to scale the design
   proportionally, all units are now specified in viewport height units, but calculated from their
   original proportion on the 1080×1920 design. */

:root {
	/* In this author's opinion, with Open Sans a line-height of 1.4 is the minimum for comfortable
	   reading. But 1.2 can be used in non-paragraph situations without much strain. */
	--line-height: 1.4;
	--line-height-tight: 1.2;

	/* Set some standards for text sizes and spacing. */
	--font-size-body-4: calc(15 / 1920 * 100vh);
	--font-size-body-3: calc(var(--font-size-body-4) * 4 / 3);
	--font-size-body-2: calc(var(--font-size-body-4) * 5 / 3);
	--font-size-body-1: calc(var(--font-size-body-4) * 6 / 3);

	--font-size-display-2: calc(var(--font-size-body-4) * 9 / 3);
	--font-size-display-1: calc(var(--font-size-body-4) * 15 / 3);

	--font-weight-display: 300;

	--content-space-4: calc(var(--font-size-body-4) * 1 / 3);
	--content-space-3: calc(var(--font-size-body-4) * 2 / 3);
	--content-space-2: calc(var(--font-size-body-4) * 3 / 3);
	--content-space-1: calc(var(--font-size-body-4) * 9 / 3);

	--content-background-color-frosty: rgba(255, 255, 255, 0.15);
	--content-border-radius: calc(var(--font-size-body-4) / 2);

	/* Set some standards for block spacing. */
	--block-margin: var(--font-size-body-4);
	--block-border-radius: var(--block-margin);
	--block-padding: calc(var(--block-margin) * 2);

	/* Calculate the horizontal position and widths of the two-column layout. */
	--first-column-left: var(--block-margin);
	--second-column-left: calc((100vw + var(--block-margin)) / 2);

	--one-column-width: calc((100vw - var(--block-margin) * 3) / 2);
	--two-columns-width: calc(100vw - var(--block-margin) * 2);

	/* Calculate the positions of fixed sized blocks based on their content heights. */
	--first-row-content-height: var(--font-size-display-1);
	--first-row-top: var(--block-margin);
	--first-row-height: calc(var(--first-row-content-height) + var(--block-padding) * 2);

	--second-row-top: calc(var(--first-row-top) + var(--first-row-height) + var(--block-margin));

	--news-title-font-size: var(--font-size-body-2);
	--news-title-height: calc(var(--news-title-font-size) * var(--line-height));

	--news-description-font-size: var(--font-size-body-3);
	--news-description-height: calc(var(--news-description-font-size) * var(--line-height) * 2);

	--news-content-height: calc(var(--news-title-height) + var(--news-description-height));
	--news-height: calc(var(--news-content-height) + var(--block-padding) * 2);
	--news-top: calc(100vh - var(--block-margin) - var(--news-height));

	--weather-temp-font-size: var(--font-size-display-1);
	--weather-temp-line-height: 1;

	--weather-summary-font-size: var(--font-size-body-2);
	--weather-summary-margin-top: var(--content-space-4);

	--weather-current-margin-bottom: var(--content-space-1);

	--weather-current-content-height: calc(
		var(--weather-temp-font-size) * var(--weather-temp-line-height) +
			var(--weather-summary-margin-top) + var(--weather-summary-font-size) *
			var(--line-height) * 2 + var(--weather-current-margin-bottom)
	);

	/* TODO: Make a dynamic calculation of this height. */
	--weather-forecast-content-height: calc(210 / 1920 * 100vh);

	--weather-content-height: calc(
		var(--weather-current-content-height) + var(--weather-forecast-content-height)
	);
	--weather-top: var(--second-row-top);
	--weather-height: calc(var(--weather-content-height) + var(--block-padding) * 2);

	--countdown-title-font-size: var(--font-size-body-1);
	--countdown-title-margin-bottom: var(--content-space-4);
	--countdown-title-height: calc(
		var(--countdown-title-font-size) * var(--line-height) + var(--countdown-title-margin-bottom)
	);

	--countdown-item-padding: var(--content-space-3);
	--countdown-item-number-font-size: var(--font-size-display-2);
	--countdown-item-description-font-size: var(--font-size-body-4);
	--countdown-item-height: calc(
		var(--countdown-item-padding) * 2 + var(--countdown-item-number-font-size) +
			var(--countdown-item-description-font-size)
	);

	--countdown-content-height: calc(var(--countdown-title-height) + var(--countdown-item-height));
	--countdown-height: calc(var(--countdown-content-height) + var(--block-padding) * 2);
	--countdown-top: calc(var(--news-top) - var(--block-margin) - var(--countdown-height));

	/* Calculate the positions of adjustable height blocks to absorb the remaining vertical space
	   in each column. */
	--calendar-top: var(--second-row-top);
	--calendar-height: calc(
		100vh - var(--second-row-top) - var(--news-height) - var(--block-margin) * 2
	);
	--calendar-content-height: calc(var(--calendar-height) - var(--block-padding) * 2);

	--photos-top: calc(var(--weather-top) + var(--weather-height) + var(--block-margin));
	--photos-height: calc(var(--countdown-top) - var(--photos-top) - var(--block-margin));
}

/*
 * GLOBAL
 */

/* Specify a font-size that scales proportionally with the vertical resolution. */
body {
	font-family: 'Open Sans', sans-serif !important;
	font-size: var(--font-size-4) !important;
	line-height: var(--line-height) !important;
}

/* Set colors.

   The background color was chosen with the help of [Canva's color palette
   generator](https://www.canva.com/colors/color-palette-generator/), which analyzed the background
   image and came up with the following five color values and names:
   
   #8C145C   rgb(140, 20,  92)   Medium Violet Red
   #36172C   rgb( 54, 23,  44)   Dark Olive Green (which isn't green at all!)
   #A16199   rgb(161, 97, 153)   Rosy Brown
   #622D55   rgb( 98, 45,  85)   Old Rose
   #0B0709   rgb( 11,  7,   9)   Black
   
   Medium Violet Red was then plugged into paletton.com, and using a 4-color tetrad with a 72-degree
   distribution and the Bright Pastel preset, the following four colors were chosen for the calendar
   agenda items. This specific configuration can be recreated at
   <https://paletton.com/#uid=758180kl1Wx1x+IcEXDsUWkWEVB>. */
.block {
	background-color: rgba(54, 23, 42, 0.75) !important;
	box-shadow: rgba(11, 7, 9, 0.67) calc(2.5 / 1920 * 100vh) calc(2.5 / 1920 * 100vh)
		calc(5 / 1920 * 100vh) !important;
}
.pink {
	color: #f997d3 !important;
}
.orange {
	color: #ffd09a !important;
}
.blue {
	color: #99d7f5 !important;
}
.green {
	color: #defd99 !important;
}

/* Every individual component/cell is contained by a .block. Give them all the same layout. */
.block {
	border-radius: var(--block-border-radius) !important;
	box-sizing: border-box !important;
	padding: var(--block-padding) !important;
	position: absolute !important;
}
.block > div {
	padding: 0 !important;
}

/* DAKboard decreases tracking in `.large` and `.medium` classes using absolute units, so change
   them to a relative units. `.medium` tracking is insignificant in this layout so it is zeroed. */
.block .large {
	letter-spacing: -0.025em !important;
}
.block .medium {
	letter-spacing: 0 !important;
}
/*
 * BACKGROUND
 */

/* Give the background a larger border radius. */
#\35 dddeb97acf03055871e2ed4 {
	border-radius: calc(var(--block-border-radius) + var(--block-margin)) !important;
	box-shadow: none !important;
}

/*
 * DATE/TIME
 */

.block#\35 ddde18bf62f5967c36c2cc3 {
	height: var(--first-row-height) !important;
	left: var(--first-column-left) !important;
	top: var(--first-row-top) !important;
	width: var(--two-columns-width) !important;
}

/* Make the date a large display font, but not the largest for fear of wrapping on a long date, like
   "Wednesday, November 24". Also remove any padding it may have. */
.block#\35 ddde18bf62f5967c36c2cc3 #date-5ddde18bf62f5967c36c2cc3 {
	font-size: var(--font-size-display-2) !important;
	font-weight: var(--font-weight-display) !important;
	line-height: var(--font-size-display-2) !important;
	padding: 0 !important;
}

/* Give the time the largest display font and move it to the right. */
.block#\35 ddde18bf62f5967c36c2cc3 #time-5ddde18bf62f5967c36c2cc3 {
	float: right !important;
	font-size: var(--font-size-display-1) !important;
	font-weight: var(--font-weight-display) !important;
	line-height: var(--font-size-display-1) !important;
}

/* Change padding to relative units. */
.block#\35 ddde18bf62f5967c36c2cc3 .time-ampm {
	padding-left: 0.5em !important;
}

/*
 * CALENDAR
 */

.block#\35 ddded42acf0306d7803f832 {
	height: var(--calendar-height) !important;
	left: var(--block-margin) !important;
	top: var(--second-row-top) !important;
	width: var(--one-column-width) !important;
}

/* The maximum number of agenda days has been selected, so it's likely that the calendar agenda
   will be taler than its container. Rather than clip the contents abruptly at the bottom of the
   cell, gradually fade them to transparent. */
.block#\35 ddded42acf0306d7803f832 > .calendar {
	-webkit-mask-image: linear-gradient(
		to bottom,
		black calc(var(--calendar-content-height) - var(--block-padding) * 4),
		transparent var(--calendar-content-height)
	) !important;
	mask-image: linear-gradient(
		to bottom,
		black calc(var(--calendar-content-height) - var(--block-padding) * 4),
		transparent var(--calendar-content-height)
	) !important;
}

/* There's some left padding around each day container; get rid of it. And redistribute the top
   padding to the bottom margin. This results in the calendar having a top-left alignment within
   its cell that agrees with all the other cells. */
.block#\35 ddded42acf0306d7803f832 .day-container {
	padding: 0 !important;
	margin-bottom: var(--content-space-2) !important;
}

/* For better proximity, the day title and day events are moved closer together. This margin-bottom
   negates the margin-top specified by the first <li>. */
.block#\35 ddded42acf0306d7803f832 .day-container .agenda-day-header {
	background: var(--content-background-color-frosty) !important;
	border: none !important;
	border-radius: var(--content-border-radius) !important;
	font-size: var(--font-size-body-3) !important;
	line-height: 1 !important;
	margin: 0 !important;
	padding: var(--content-space-4) var(--content-space-2) !important;
	text-transform: uppercase !important;
}

.block#\35 ddded42acf0306d7803f832 .day-container .agenda-day-header-num {
	font-family: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
}

/* Increase the font size of the calendar agenda. The agenda can get away with the tighter line
   height and it actually looks better that way. */
.block#\35 ddded42acf0306d7803f832 .day-container li,
.block#\35 ddded42acf0306d7803f832 .day-container .agenda-no-events {
	border: none !important;
	font-family: inherit !important;
	font-size: var(--font-size-body-1) !important;
	font-weight: inherit !important;
	line-height: var(--line-height-tight) !important;
	margin-top: var(--content-space-3) !important;
}

/* Change how agenda line items are layed out. */
.block#\35 ddded42acf0306d7803f832 .day-container li {
	align-items: baseline !important;
	display: flex !important;
	padding: 0 !important;
}
.block#\35 ddded42acf0306d7803f832 .day-container li .agenda-event-time {
	color: white !important;
	flex-shrink: 0 !important;
	font-family: inherit !important;
	font-size: var(--font-size-body-3) !important;
	font-weight: inherit !important;
	opacity: 1 !important;
	text-align: right !important;
	width: 20% !important;
}
.block#\35 ddded42acf0306d7803f832 .day-container li .agenda-event-details {
	font-family: inherit !important;
	font-size: var(--font-size-body-1) !important;
	font-weight: inherit !important;
	margin: 0 0 0 var(--content-space-2) !important;
}
.block#\35 ddded42acf0306d7803f832 .agenda-no-events {
	margin-left: calc(20% + var(--content-space-2)) !important;
}

/* Slightly tweak the vertical alignment of the minutes portion of the time. */
.block#\35 ddded42acf0306d7803f832 .minute-container {
	padding-top: 0.5em !important;
}

/*
TODO: Switch to relative spacing in hour & minute paddings.
*/

/*
 * WEATHER
 */

.block#\35 ddde3570f6c13261a03da45 {
	height: var(--weather-height) !important;
	left: var(--second-column-left) !important;
	top: var(--weather-top) !important;
	width: var(--one-column-width) !important;
}

/* Place the actual and "feels like" temperatures next to each other on the same line by floating
   the icon to the right. */
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div.large,
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div:nth-child(2) {
	display: inline !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current .weather-current-icon {
	float: right !important;
}

/* Adjust the line-height so that the large temperature aligns to the top of its container. */
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div.large {
	font-size: var(--weather-temp-font-size) !important;
	line-height: var(--weather-temp-line-height) !important;
}
/* Nudge the degrees symbol closer to the number. */
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div.large > sup {
	margin-left: -0.25rem !important;
}
/* Adjust the display of the "feels like" text block so that it's :after pseudo element is on the
   same line and the degrees symbol closer to the number. */
#\35 ddde3570f6c13261a03da45 > div > div.weather-item.weather-current > div:nth-child(2) > div.feels-like-text {
	display: inline !important;
	margin-right: -0.5rem !important;
}
/* Adjust the font-sizes and separation of "feels like" and summary. */
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div:nth-child(2) {
	font-size: var(--font-size-body-1) !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current .weather-summary-text {
	font-size: var(--weather-summary-font-size) !important;
	margin-top: var(--weather-summary-margin-top) !important;
}

/* Add some vertical separation between "now" and the forecast. */
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current {
	margin-bottom: var(--weather-current-margin-bottom) !important;
}

/* Change the forecast's layout to use flexbox for better horizontal utilization and separation. */
.block#\35 ddde3570f6c13261a03da45 .weather-forecast-group {
	display: flex !important;
	justify-content: space-between !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-forecast {
	flex-grow: 1 !important;
	margin: 0 var(--content-space-2) 0 0 !important;
	padding: 0 !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-forecast-4 {
	margin-right: 0 !important;
}

/* Add degrees symbols after all temperatures lacking them. */
.block#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div:nth-child(2)::after,
.block#\35 ddde3570f6c13261a03da45 .weather-forecast-group .weather-forecast-item-high::after,
.block#\35 ddde3570f6c13261a03da45 .weather-forecast-group .weather-forecast-item-low::after {
	content: '°' !important;
}

/* Layout the forecast items. */
.block#\35 ddde3570f6c13261a03da45 .weather-forecast {
	display: flex !important;
	flex: 1 0 0 !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	width: 100% !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-forecast > * {
	display: block !important;
	margin: var(--content-space-2) 0 !important;
	line-height: 1 !important;
	padding: 0 !important;
	width: 100% !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-forecast > div:first-child {
	background-color: var(--content-background-color-frosty) !important;
	border-radius: var(--content-border-radius) !important;
	font-size: var(--font-size-body-3) !important;
	margin-top: 0 !important;
	min-width: unset !important;
	padding: var(--content-space-4) var(--content-space-2) !important;
	text-transform: uppercase !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-forecast span.fas {
	font-size: var(--font-size-display-2) !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-forecast .weather-pop {
	font-size: var(--font-size-body-3) !important;
}
/* .block#\35 ddde3570f6c13261a03da45 .weather-forecast .weather-pop small {
	font-size: var(--font-size-body-3) !important;
} */
.block#\35 ddde3570f6c13261a03da45 .weather-forecast .weather-pop small span.fas {
	font-size: var(--font-size-body-4) !important;
	margin: 0 !important;
	padding: 0 !important;
}
.block#\35 ddde3570f6c13261a03da45 .weather-forecast .weather-forecast-item-high,
.block#\35 ddde3570f6c13261a03da45 .weather-forecast .weather-forecast-item-low {
	font-size: var(--font-size-body-2) !important;
	margin-bottom: 0 !important;
	width: 50% !important;
}

/*
 * PHOTOS
 */

.block#\35 dddec6ef62f59737f5aec86 {
	height: var(--photos-height) !important;
	left: var(--second-column-left) !important;
	top: var(--photos-top) !important;
	width: var(--one-column-width) !important;
}

/*
 * COUNTDOWN
 */

.block#\35 dde031336984f176045f044 {
	height: var(--countdown-height) !important;
	left: var(--second-column-left) !important;
	top: var(--countdown-top) !important;
	width: var(--one-column-width) !important;
}

/* Make the layout of the countdown a little more workable. */
#\35 dde031336984f176045f044 > .countdown .countdown-timer {
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	margin: 0 !important;
}

/* Set the dimensions of the title on a line all its own. */
.block#\35 dde031336984f176045f044 > .countdown .countdown-title {
	font-size: var(--countdown-title-font-size) !important;
	margin-bottom: var(--countdown-title-margin-bottom) !important;
	width: 100% !important;
}

/* Ensure that all remaining countdown-items are evenly spaced. The actual width isn't important,
   as long as all countdown-items are assigned the same width, the width is small enough to not
   cause wrapping of the line, and they are allowed to expand to fill the row. */
.block#\35 dde031336984f176045f044 > .countdown .countdown-item {
	background-color: var(--content-background-color-frosty) !important;
	border-radius: var(--content-border-radius) !important;
	flex-grow: 1 !important;
	float: none !important;
	line-height: 1 !important;
	margin: 0 0 0 var(--content-space-2) !important;
	padding: var(--countdown-item-padding) !important;
	width: 1% !important;
}

/* Scratch the margin on the first countdown-item. */
.block#\35 dde031336984f176045f044 > .countdown .countdown-item:nth-child(3) {
	margin-left: 0 !important;
}

.block#\35 dde031336984f176045f044 > .countdown .countdown-item > .countdown-time {
	font-size: var(--countdown-item-number-font-size) !important;
}

.block#\35 dde031336984f176045f044 > .countdown .countdown-item > .countdown-item-description {
	display: block !important;
	font-size: var(--countdown-item-description-font-size) !important;
}

/*
 * NEWS
 */

.block#\35 dddf2ebacf030303355d494 {
	height: var(--news-height) !important;
	left: var(--block-margin) !important;
	top: var(--news-top) !important;
	width: var(--two-columns-width) !important;
}

/* Hide the marquee. Even though the block has been configured as Rotating instead of Scrolling,
   the marquee element is present. It is empty but takes up vertical space, which throws off the
   other content. */
.block#\35 dddf2ebacf030303355d494 .rss-scroll {
	display: none !important;
}

/* Give the title just one line, truncating with an ellipsis if necessary. It is capitalized to
   give it just a bit more distinction from the description without having to add more space. */
.block#\35 dddf2ebacf030303355d494 .rss-title {
	font-size: var(--news-title-font-size) !important;
	line-height: var(--line-height) !important;
	overflow: hidden !important;
	padding: 0 !important;
	text-overflow: ellipsis !important;
	text-transform: capitalize !important;
	white-space: nowrap !important;
}

/* Give the description two lines and then clip. */
.block#\35 dddf2ebacf030303355d494 .rss-description {
	font-size: var(--news-description-font-size) !important;
	line-height: var(--line-height) !important;
	max-height: var(--news-description-height) !important;
	overflow: hidden !important;
	padding: 0 !important;
}
