/* Use Open Sans instead of Roboto because its glyphs are just a little bit more, well, open, which
   is more readable on a large wall sign. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
body {
	font-family: 'Open Sans', sans-serif !important;
	line-height: var(--line-height) !important;
}

/* Specify a font-size that scales proportionally with the vertical resolution.

   The base DAKboard styles specify pixels for the majority of their content. Originally, this
   design built upon the DAKboard styles while optimizing for a 1080×1920 display, and therefore
   also specified pixels as the primary unit. Later, it was desirable to render this design at both
   1080x1920 and 1440×2560 with nearly no distinguishable difference. So to scale the design
   proportionally, all units are now specified in viewport height units, but calculated from their
   original proportion on the 1080×1920 design. */

body {
	font-size: calc(16 / 1920 * 100vh) !important;
}

:root {
	/* Set some standards for block spacing. */
	--block-margin: calc(15 / 1920 * 100vh);
	--block-padding: calc(30 / 1920 * 100vh);
	--block-border-radius: calc(var(--block-margin) / 2);

	/* Set some standards for content. A font-size to line-height ratio of 0.85 is the minimum
	   usable for Open Sans, in this authors opinion. */
	--line-height: calc(1 / 0.85);
	--content-margin: calc(45 / 1920 * 100vh);

	/* Calculate the horizontal position and widths of the two-column layout. */
	--first-column-left: var(--block-margin);
	--second-column-left: calc((100vw + var(--block-margin)) / 2);

	--one-column-width: calc((100vw - var(--block-margin) * 3) / 2);
	--two-columns-width: calc(100vw - var(--block-margin) * 2);

	/* Calculate the positions of fixed sized blocks based on their content heights. */
	--first-row-content-height: calc(80 / 1920 * 100vh);
	--first-row-top: var(--block-margin);
	--first-row-height: calc(var(--first-row-content-height) + var(--block-padding) * 2);

	--second-row-top: calc(var(--first-row-top) + var(--first-row-height) + var(--block-margin));

	--bottom-row-content-height: calc(80 / 1920 * 100vh);
	--bottom-row-height: calc(var(--bottom-row-content-height) + var(--block-padding) * 2);
	--bottom-row-top: calc(100vh - var(--block-margin) - var(--bottom-row-height));

	--weather-content-height: calc(373 / 1920 * 100vh);
	--weather-top: var(--second-row-top);
	--weather-height: calc(var(--weather-content-height) + var(--block-padding) * 2);

	--countdown-content-height: calc(138 / 1920 * 100vh);
	--countdown-height: calc(var(--countdown-content-height) + var(--block-padding) * 2);
	--countdown-top: calc(var(--bottom-row-top) - var(--block-margin) - var(--countdown-height));

	/* Calculate the positions of adjustable height blocks to absorb the remaining vertical space
	   in each column. */
	--calendar-top: var(--second-row-top);
	--calendar-height: calc(
		100vh - var(--second-row-top) - var(--bottom-row-height) - var(--block-margin) * 2
	);
	--calendar-content-height: calc(var(--calendar-height) - var(--block-padding) * 2);

	--photos-top: calc(var(--weather-top) + var(--weather-height) + var(--block-margin));
	--photos-height: calc(var(--countdown-top) - var(--photos-top) - var(--block-margin));
}

/* Set colors.

The background color was chosen with the help of [Canva's color palette
generator](https://www.canva.com/colors/color-palette-generator/), which analyzed the background
image and came up with the following five color values and names:

#8C145C   rgb(140, 20,  92)   Medium Violet Red
#36172C   rgb( 54, 23,  44)   Dark Olive Green (which isn't green at all!)
#A16199   rgb(161, 97, 153)   Rosy Brown
#622D55   rgb( 98, 45,  85)   Old Rose
#0B0709   rgb( 11,  7,   9)   Black

Medium Violet Red was then plugged into paletton.com, and using a 4-color tetrad with a 72-degree
distribution and the Bright Pastel preset, the following four colors were chosen for the calendar
agenda items. This specific configuration can be recreated at
<https://paletton.com/#uid=758180kl1Wx1x+IcEXDsUWkWEVB>.
*/

.block {
	background-color: rgba(54, 23, 42, 0.67) !important;
	box-shadow: rgba(11, 7, 9, 0.5) 2.5px 2.5px 5px !important;
}
.pink {
	color: #f997d3 !important;
}
.orange {
	color: #ffd09a !important;
}
.blue {
	color: #99d7f5 !important;
}
.green {
	color: #defd99 !important;
}

/* Every individual component/cell is contained by a .block. Give them all the same layout. */
.block {
	border-radius: var(--block-border-radius) !important;
	box-sizing: border-box !important;
	padding: var(--block-padding) !important;
	position: absolute !important;
}
.block > div {
	padding: 0 !important;
}

/*
 * BACKGROUND
 */

/* Give the background a larger border radius. */
/* #\35 dddeb97acf03055871e2ed4 {
	border-radius: calc(var(--block-border-radius) * 2) !important;
} */

/*
 * DATE
 */

#\35 ddde18bf62f5967c36c2cc3 {
	height: var(--first-row-height) !important;
	left: var(--first-column-left) !important;
	top: var(--first-row-top) !important;
	width: var(--one-column-width) !important;
}

/* There is padding between the time and date. But the time is not displayed in this cell, so
   remove that padding to left-align properly. */
#\35 ddde18bf62f5967c36c2cc3 #date-5ddde18bf62f5967c36c2cc3 {
	padding-left: 0 !important;
}

/* Place the date on two lines and take up all the vertical content space. */
#\35 ddde18bf62f5967c36c2cc3 #date-5ddde18bf62f5967c36c2cc3 > div {
	display: block !important;
	font-size: calc(var(--first-row-content-height) / 2 / var(--line-height)) !important;
}

/*
 * TIME
 */

#\35 dddf1d8f62f5942742ee412 {
	height: var(--first-row-height) !important;
	left: var(--second-column-left) !important;
	top: var(--first-row-top) !important;
	width: var(--one-column-width) !important;
}

/* Grow the font to take up all the vertical content space. */
#\35 dddf1d8f62f5942742ee412 #time-5dddf1d8f62f5942742ee412 {
	--content-height: calc(var(--first-row-height) - var(--block-padding) * 2);
	font-size: var(--content-height) !important;
	line-height: var(--content-height) !important;
}

/*
 * CALENDAR
 */

#\35 ddded42acf0306d7803f832 {
	height: var(--calendar-height) !important;
	left: var(--block-margin) !important;
	top: var(--second-row-top) !important;
	width: var(--one-column-width) !important;
}

/* The maximum number of agenda days has been selected, so it's likely that the calendar agenda
   will be taler than its container. Rather than clip the contents abruptly at the bottom of the
   cell, gradually fade them to transparent. */
#\35 ddded42acf0306d7803f832 > .calendar {
	-webkit-mask-image: linear-gradient(
		to bottom,
		black calc(var(--calendar-content-height) - var(--block-padding) * 4),
		transparent var(--calendar-content-height)
	) !important;
	mask-image: linear-gradient(
		to bottom,
		black calc(var(--calendar-content-height) - var(--block-padding) * 4),
		transparent var(--calendar-content-height)
	) !important;
}

/* There's some left padding around each day container; get rid of it. And redistribute the top
   padding to the bottom margin. This results in the calendar having a top-left alignment within
   its cell that agrees with all the other cells. */
#\35 ddded42acf0306d7803f832 .day-container {
	padding: 0 !important;
	margin-bottom: var(--content-margin) !important;
}

/* Indent the agenda items. */
#\35 ddded42acf0306d7803f832 .day-container .time-container {
	width: calc(70 / 1920 * 100vh) !important;
}

#\35 ddded42acf0306d7803f832 .day-container .event-summary,
#\35 ddded42acf0306d7803f832 .day-container .no-events {
	margin-left: calc(80 / 1920 * 100vh) !important;
}

/* Increase the size of the calendar agenda. */
#\35 ddded42acf0306d7803f832 .calendar-agenda-font-large {
	font-size: calc(30 / 1920 * 100vh) !important;
}

/* For better proximity, the day title and day events are moved closer together. This margin-bottom
   negates the margin-top specified by the first <li>. */
#\35 ddded42acf0306d7803f832 .day {
	margin-bottom: -12px !important;
}

/* Slightly tweak the vertical alignment of the minutes portion of the time. */
#\35 ddded42acf0306d7803f832 .minute-container {
	padding-top: 0.5em !important;
}

/*
 * WEATHER
 */

#\35 ddde3570f6c13261a03da45 {
	height: var(--weather-height) !important;
	left: var(--second-column-left) !important;
	top: var(--weather-top) !important;
	width: var(--one-column-width) !important;
}

/* Place the actual and "feels like" temperatures next to each other on the same line by floating
   the icon to the right. */
#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div.large,
#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div:nth-child(2) {
	display: inline !important;
}
#\35 ddde3570f6c13261a03da45 .weather-item.weather-current .weather-current-icon {
	float: right;
}

/* Adjust the line-height so that the large temperature aligns to the top of its container. */
#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div.large {
	line-height: 1;
}

/* Add the missing degrees symbols to temperatures. */
#\35 ddde3570f6c13261a03da45 .weather-item.weather-current > div:nth-child(2)::after,
#\35 ddde3570f6c13261a03da45 .weather-forecast-group .weather-forecast-item-high::after,
#\35 ddde3570f6c13261a03da45 .weather-forecast-group .weather-forecast-item-low::after {
	content: '°' !important;
}

/* Add some vertical separation between "now" and the forecast. */
#\35 ddde3570f6c13261a03da45 > div > div.weather-item.weather-current {
	margin-bottom: var(--content-margin) !important;
}

/* Change the forecast's layout to use flexbox for better horizontal utilization and separation. */
#\35 ddde3570f6c13261a03da45 > div > div.weather-forecast-group {
	display: flex !important;
	justify-content: space-between !important;
}
#\35 ddde3570f6c13261a03da45 .weather-condensed .weather-forecast {
	display: inline-block !important;
	padding: 0 !important;
}

/* Make the forecast subitems' margins relative units. (This was the only margin that wasn't.)
   TODO: There are some paddings that should also be addressed,  */
#\35 ddde3570f6c13261a03da45 .weather-forecast .day {
	margin-bottom: 1rem;
}

/*
 * PHOTOS
 */

#\35 dddec6ef62f59737f5aec86 {
	height: var(--photos-height) !important;
	left: var(--second-column-left) !important;
	top: var(--photos-top) !important;
	width: var(--one-column-width) !important;
}

/*
 * COUNTDOWN
 */

#\35 dde031336984f176045f044 {
	height: var(--countdown-height) !important;
	left: var(--second-column-left) !important;
	top: var(--countdown-top) !important;
	width: var(--one-column-width) !important;
}

/*
 * NEWS
 */

#\35 dddf2ebacf030303355d494 {
	height: var(--bottom-row-height) !important;
	left: var(--block-margin) !important;
	top: var(--bottom-row-top) !important;
	width: var(--two-columns-width) !important;
}
