/* Global style overrides. */

.reveal blockquote p {
	display: block !important;
	margin: 40px !important;
}

.reveal iframe {
	display: block;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.reveal img {
	box-shadow: none !important;
}

/* Reusable slide layouts. */

.layout.image.left > p:first-of-type {
	display: block;
	float: left;
	width: 40%;
	margin-right: 20px;
	max-height: 720px;
}

.layout.image.left > p:first-of-type > img {
	margin: 0;
}

.layout.image.left > p:first-of-type ~ * {
	display: block;
	float: left;
	margin-top: 20px;
	width: 50%;
}

.layout.columns {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.layout.columns > h1,
.layout.columns > h2,
.layout.columns > h3,
.layout.columns > h4,
.layout.columns > h5,
.layout.columns > h6 {
	width: 100%;
}

.layout.columns > hr {
	display: none;
}

.layout.columns.two > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	width: 33%;
}

.layout.columns.three > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	width: 22%;
}
