@import url('https://fonts.googleapis.com/css?family=Fira+Code|Shadows+Into+Light+Two&display=swap');

/* Global style overrides. */

.reveal blockquote p {
	display: block !important;
	margin: 40px !important;
}

.reveal iframe {
	display: block;
	height: 900px;
	width: 100%;
}

.reveal img {
	box-shadow: none !important;
}

/* Reusable slide layouts. */

.layout.image.left > p:first-of-type {
	display: block;
	float: left;
	width: 40%;
	margin-right: 20px;
	max-height: 720px;
}

.layout.image.left > p:first-of-type > img {
	margin: 0;
}

.layout.image.left > p:first-of-type ~ * {
	display: block;
	float: left;
	margin-top: 20px;
	width: 50%;
}

.layout.columns {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.layout.columns > h1,
.layout.columns > h2,
.layout.columns > h3,
.layout.columns > h4,
.layout.columns > h5,
.layout.columns > h6 {
	width: 100%;
}

.layout.columns > hr {
	display: none;
}

.layout.columns.two > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	width: 33%;
}

.layout.columns.three > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	width: 22%;
}

/* Specific slide layouts. */

#introduction-inspiration blockquote {
	font-size: larger;
	font-style: normal;
	padding: 40px;
	width: 50%;
}

#introduction-inspiration blockquote p.quote.wife {
	color: pink;
	text-align: left;
	font-family: 'Shadows Into Light Two', cursive;
}
#introduction-inspiration blockquote p.quote.wife::before {
	content: 'Wife:';
	display: inline-block;
	margin-right: 0.5em;
}

#introduction-inspiration blockquote p.quote.me {
	color: lightblue;
	font-family: 'Fira Code', monospace;
	text-align: right;
}
#introduction-inspiration blockquote p.quote.me::before {
	content: 'Me:';
	display: inline-block;
	margin-right: 0.5em;
}
