/* Make the unordered list act like the paragraph next to it. */

.layout-image-left > p {
	display: block;
	float: left;
	width: 40%;
}

.layout-image-left > p > img {
	width: 100%;
}

.layout-image-left > ul {
	display: block;
	float: right;
	margin-top: 20px;
	width: 55%;
}

.conclusion > div {
	display: inline-flex;
}

.conclusion > div > div {
	margin: 0 2rem;
	width: 50%;
}

.conclusion > div > div img {
	width: 67%;
}
