<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

		<!-- Bootstrap CSS -->
		<link
			crossorigin="anonymous"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			rel="stylesheet"
		/>

		<title>InterDAKtive Status</title>

		<style>
			.highlight-change-background {
				animation-name: fade-background-from-primary;
				animation-duration: 3s;
			}

			@keyframes fade-background-from-primary {
				from {
					/* This background color is defined by Bootstrap's default `bg-primary` class. */
					background-color: #007bff;
				}
			}
		</style>
	</head>

	<body>
		<header class="mb-3">
			<nav class="bg-primary container-fluid navbar navbar-dark">
				<span class="navbar-brand mb-0 h1">InterDAKtive Status</span>
			</nav>
		</header>

		<main>
			<section class="container-fluid">
				<div class="mb-3" id="state-diagram-container">
					<p class="alert alert-warning" role="alert">
						The state diagram is not available.
					</p>
				</div>

				<div class="mb-3 table-responsive" id="log-container">
					<p class="alert alert-warning" role="alert">The log is not available.</p>
				</div>
			</section>
		</main>

		<!-- Bootstrap requirements. jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			crossorigin="anonymous"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		></script>
		<!-- <script
			crossorigin="anonymous"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		></script> -->
		<!-- <script
			crossorigin="anonymous"
			integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
		></script> -->

		<!-- socket.io Requirements -->
		<script
			crossorigin="anonymous"
			integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a"
			src="https://cdn.socket.io/4.1.1/socket.io.min.js"
		></script>

		<script>
			$(() => {
				const stateDiagramRoute = '/content/state-diagram';
				const logRoute = '/content/log';

				const updateStateDiagram = async () => {
					// Find or create the state diagram <img> element.
					let $stateDiagram = $('#state-diagram');
					if (
						$stateDiagram.length === 0 &&
						(await fetch(stateDiagramRoute, { method: 'HEAD' })).ok
					) {
						const $stateDiagramContainer = $('#state-diagram-container');
						$stateDiagramContainer.empty();

						$stateDiagram = $('<img class="img-fluid" id="state-diagram" />');
						$stateDiagramContainer.append($stateDiagram);
					}

					// Update its content.
					if ($stateDiagram.length > 0) {
						const url = `${stateDiagramRoute}?ts=${Date.now()}`;
						$stateDiagram.attr('src', url);
					}
				};

				const logLinesToRowsMap = new Map();
				const updateLog = async ({ highlightChanges }) => {
					// Find or create the log table.
					let $log = $('#log');
					if ($log.length === 0 && (await fetch(logRoute, { method: 'HEAD' })).ok) {
						const $logContainer = $('#log-container');
						$logContainer.empty();

						$table = $('<table class="table table-borderless table-hover"></table>');
						$tbody = $('<tbody id="log"></tbody>');
						$logContainer.append($table.append($tbody));
						$log = $tbody;
					}

					// Update its content.
					if ($log.length > 0) {
						// Get the most recent log data, keeping only the latest 50 lines.
						const url = `${logRoute}?ts=${Date.now()}`;
						const text = await (await fetch(url)).text();

						const lines = text.trim().split('\n').slice(-50);
						const linesSet = new Set(lines);

						// Determine which lines are removed and added.
						const removedLines = Array.from(logLinesToRowsMap.keys()).filter(
							(line) => !linesSet.has(line),
						);
						const addedLines = lines.filter((line) => !logLinesToRowsMap.has(line));

						// Remove rows from the UI.
						for (const line of removedLines) {
							const $tr = logLinesToRowsMap.get(line);
							logLinesToRowsMap.delete(line);
							$tr.remove();
						}

						// Add rows to the UI. Prepending them automatically sorts lines in
						// descending chronological order.
						for (const line of addedLines) {
							const $tr = $('<tr></tr>').addClass(() =>
								highlightChanges ? 'highlight-change-background' : '',
							);
							logLinesToRowsMap.set(line, $tr);

							$tr.append(
								line
									.split('\t')
									.map((cell) =>
										$('<td class="py-0"></td>').append(
											$('<samp class="small text-nowrap"></samp>').text(cell),
										),
									),
							);

							$log.prepend($tr);
						}
					}
				};

				updateStateDiagram();
				updateLog({ highlightChanges: false });

				const socket = io();
				socket.on('update', (message) => {
					switch (message.route) {
						case stateDiagramRoute:
							updateStateDiagram();
							break;

						case logRoute:
							updateLog({ highlightChanges: true });
							break;
					}
				});
			});
		</script>
	</body>
</html>
