<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

		<!-- Bootstrap CSS -->
		<link
			crossorigin="anonymous"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			rel="stylesheet"
		/>

		<title>InterDAKtive Status</title>

		<style>
			/* This replicates the styling that a Bootstrap `<pre><code></code></pre>` block would
			   have, except that it allows word wrapping and has a slightly smaller font. */
			.pre-code {
				color: #212529;
				font-family: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono',
					'Courier New', monospace;
				font-size: 75%;
				white-space: pre-wrap;
				word-break: normal;
			}

			.hanging-indent {
				padding-left: 2rem;
				text-indent: -2rem;
			}

			.highlight-change-background {
				animation-name: fade-background-from-primary;
				animation-duration: 3s;
			}

			@keyframes fade-background-from-primary {
				from {
					/* This background color is defined by Bootstrap's default `bg-primary` class. */
					background-color: #007bff;
				}
			}
		</style>
	</head>

	<body>
		<header class="mb-3">
			<nav class="bg-primary container-fluid navbar navbar-dark">
				<span class="navbar-brand mb-0 h1">InterDAKtive Status</span>
			</nav>
		</header>

		<main>
			<section class="container-fluid">
				<div class="mb-3" id="state-diagram-container">
					<p class="alert alert-warning" role="alert">
						The state diagram is not available.
					</p>
				</div>

				<div class="mb-3" id="log-container">
					<p class="alert alert-warning" role="alert">The log is not available.</p>
				</div>
			</section>
		</main>

		<!-- Bootstrap requirements. jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			crossorigin="anonymous"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		></script>
		<!-- <script
			crossorigin="anonymous"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		></script> -->
		<!-- <script
			crossorigin="anonymous"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		></script> -->

		<!-- socket.io Requirements -->
		<script
			crossorigin="anonymous"
			integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a"
			src="https://cdn.socket.io/4.1.1/socket.io.min.js"
		></script>

		<script>
			$(() => {
				const stateDiagramRoute = '/content/state-diagram';
				const logRoute = '/content/log';

				const updateStateDiagram = async () => {
					// Find or create the state diagram <img> element.
					let $stateDiagram = $('#state-diagram');
					if (
						$stateDiagram.length === 0 &&
						(await fetch(stateDiagramRoute, { method: 'HEAD' })).ok
					) {
						const $stateDiagramContainer = $('#state-diagram-container');
						$stateDiagramContainer.empty();

						$stateDiagram = $('<img class="img-fluid" id="state-diagram" />');
						$stateDiagramContainer.append($stateDiagram);
					}

					// Update its content.
					if ($stateDiagram.length > 0) {
						const url = `${stateDiagramRoute}?ts=${Date.now()}`;
						$stateDiagram.attr('src', url);
					}
				};

				const updateLog = async ({ highlightChanges }) => {
					// Find or create the log <ol> element.
					let $log = $('#log');
					if ($log.length === 0 && (await fetch(logRoute, { method: 'HEAD' })).ok) {
						const $logContainer = $('#log-container');
						$logContainer.empty();

						$log = $(
							'<ol class="d-flex flex-column-reverse list-unstyled" id="log"></ol>',
						);
						$logContainer.append($log);
					}

					// Update its content.
					if ($log.length > 0) {
						const url = `${logRoute}?ts=${Date.now()}`;
						const text = await (await fetch(url)).text();

						const previousLines = $log.data('lines') || [];
						const currentLines = text.trim().split('\n');
						$log.data('lines', currentLines);

						// Remove all previous lines from the UI that are no longer present in the log.
						const overlapFirstIndex =
							currentLines.length > 0 ? previousLines.indexOf(currentLines[0]) : -1;
						const removeLtIndex =
							overlapFirstIndex >= 0 ? overlapFirstIndex : previousLines.length;
						$log.children().slice(0, removeLtIndex).remove();

						// Append all current lines to the UI that are new to the log.
						const overlapLastIndex =
							previousLines.length > 0
								? currentLines.lastIndexOf(previousLines[previousLines.length - 1])
								: -1;
						const appendGteIndex = overlapLastIndex >= 0 ? overlapLastIndex + 1 : 0;

						const newChildren = currentLines.slice(appendGteIndex).map((line) => {
							const $li = $('<li class="hanging-indent pre-code"></li>').text(line);
							if (highlightChanges) {
								$li.addClass('highlight-change-background');
							}
							return $li;
						});
						$log.append(newChildren);
					}
				};

				updateStateDiagram();
				updateLog({ highlightChanges: false });

				const socket = io();
				socket.on('update', (message) => {
					switch (message.route) {
						case stateDiagramRoute:
							updateStateDiagram();
							break;

						case logRoute:
							updateLog({ highlightChanges: true });
							break;
					}
				});
			});
		</script>
	</body>
</html>
